<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <!-- Create Bots -->
      <form>
        <div class="form-group" ng-class="{'has-error':!tbot.keyValid}">
          <label for="key">Key</label>
          <input type="text" class="form-control" id="key" placeholder="" ng-model="tbot.key">
        </div>
        <div class="form-group" ng-class="{'has-error':!tbot.secretValid}">
          <label for="secret">Secret</label>
          <input type="text" class="form-control" id="secret" placeholder="" ng-model="tbot.secret">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="tbot.active"> Active
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="tbot.public"> Public
          </label>
        </div>
        <button type="submit" class="btn btn-default" ng-click="create()">Create</button>
     </form>
    <!-- End Create Bots -->
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <!-- List Bots -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="well" style="background-color:white;" ng-repeat="bot in bots">
        <form>
          <div class="form-group">
            <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
            <label style="font-size:18px;" for="bot_id">{{bot._id}}+</label>
          </div>
          <div class="form-group">
            <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
            <label style="font-size:18px;" for="botKey">{{bot.key}}</label>
          </div>
          <div class="form-group">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <label style="font-size:18px;" for="botSecret">{{bot.secret}}</label>
          </div>
          <canvas id="line" 
            class="chart chart-line" 
            data="bot.data"
            labels="bot.labels"
            legend="true"
            series="bot.series"
            options="options">
          </canvas>
          <pre>{{bot}}</pre>
        </form>
        </div>
      </div>
    </div>
    <!-- End List Bots -->
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Apolla alpha |
        <a href="https://twitter.com/compiletimelink">@compiletimelink</a> |
         <a href="https://github.com/braungoodson/apollo/issues?state=open">Issues</a></p>
  </div>
</footer>
